.container-transfer-form {
  background: #ffffff;
}

.make-transfer {
  padding-top: 15px;
}

.transfer-form {
  padding-top: 15px;
}

.form-control {
  border: 0;
  border-radius: 0;
}

.cstm-form-label {
  font-size: 12px;
  font-weight: 600;
}

.cstm-form {
  border-bottom: 1px solid #999999;
}

.btn-orange {
  color: #ffffff;
  background: #ee7033;
  border: 1px solid #ee7033;
  width: 70%;
  margin: 25px 0px 12px 0px;
}
